#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.icon {
  max-width: 2em;
  padding: 0 1em 0 1em;
}

.icon:hover {
  transform: scale(1.25);
}

/* Shake keyframes */
@keyframes ring {
  0% { transform: rotate(0); }
  15% { transform: rotate(15deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(8deg); }
  60% { transform: rotate(-6deg); }
  75% { transform: rotate(4deg); }
  100% { transform: rotate(0); }
}

.bell{
    max-width: 2em;
    padding: 0 1em 0 1em;
}

.bell:hover {
    animation: ring 0.6s ease;
}

.profile {
  justify-self: center;
  width: 12em;
}

#profile-name {
  margin-top: 0;
}

.profile-nav {
  display: flex;
  justify-content: space-between;
}

.option-grid {
    border-top: 1px solid grey;
}

.option-card {
  display: flex;
  border-bottom: 1px solid grey;
}
.option-card:hover {
  transform: scale(1.03);
}

.profile-grid {
    border-top: 1px solid grey;
}

.profile-card {
    display: flex;
    border-bottom: 1px solid grey;
    align-items: center;
}

.detail {
    color: gray;
    margin-left: auto;
    margin-right: 1em;
}

.profile-buttons {
    margin: 1em 1em;
}

a {
    overflow: visible;
    width: 4.2em;
}

#back-arrow {
    width: 100%;
    height: 100%;
}